* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  min-width: 100%;
  min-height: 66em;
  background-image: url('../../../../../public/assets/background-bottom.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  /* max-width: 100%; */
}

.footer_top {
  max-width: 72em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.tarifs {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}

.tarif {
  width: 16em;
  min-height: 340px;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.dark_tarif {
  background: #0F1F4B;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}

.light_tarif {
  background: #fff;
}

.price_titles {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 2em;
  font-weight: 700;
  color: #FFFFFF;
}

.price_size:after {
  content: ' \20BD';
}

.button_bottom {
  width: 13em;
  height: 3em;
  border: none;
  border-radius: 2em;
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.light_button {
  background: #EF2A82;
}

.light_price-title {
  color: #172755;
}

.footer_info {
  max-width: 100%;
  min-width: 72em;
  height: 6em;
  border-top: 1px solid #8794BA;
  margin-top: 6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_title {
  font-size: 2.5em;
  padding-bottom: 40px;
}

.even_tarif .dark_tarif {
  background: #0F1F4B;
}

.odd_tarif .light_tarif {
  background: #fff;
}

.even_tarif .price_titles,
.even_tarif .section_text.text,
.even_tarif .price_size.price_titles {
  color: #fff;
}

.odd_tarif .price_titles,
.odd_tarif .section_text.text,
.odd_tarif .price_size.price_titles {
  color: #172755;
}

.even_tarif .button_bottom {
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
  color: #172755;
}

.odd_tarif .button_bottom {
  background: #EF2A82;
  color: #fff;
}

.footer .section_text {
  color: #fff;
  padding-bottom: 40px;
}


@media (min-width: 992px) and (max-width: 1299px) {
  .footer_info {
    min-width: 100%;
  }

  .footer_title {
    font-size: 2em;
  }

  .footer_top {
    max-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer_info {
    min-width: 20em;
    gap: 2em;
  }

  .footer {
    max-height: 69em;
    /* background-image: url('../../../../../public/assets/background_bottom_mobile.svg');
    background-size: contain; */
    background-position: 50em 0;
  }

  .footer_top {
    min-height: 100%;
  }

  .section_text-mobile {
    max-width: 93%;
  }

  .footer_info .section_text {
    display: none;
  }

  .footer_title {
    /* margin-left: 0.5em; */
    font-size: 2em;
  }

  .section_text.card_mobile {
    text-align: center;
  }

  .section_text {
    margin: 0 20px;
    text-align: center;
  }
}

@media (min-width: 586px) and (max-width: 768px) {
  .footer {
    min-height: 64em;
  }

}

@media (min-width: 769px) and (max-width: 991px) {
  .footer_info {
    min-width: 100%;
  }

  .footer {
    min-height: 75em;
  }
}