* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  min-width: 100%;
  min-height: 73em;
  background-image: url('../../../../../public/assets/background-bottom.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  /* max-width: 100%; */

}

.footer_top {
  max-width: 72em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.tarifs {
  min-width: 56em;
  display: flex;
  justify-content: space-around;
}

.tarif {
  width: 16em;
  min-height: 16em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.dark_tarif {
  background: #0F1F4B;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}

.price_titles {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 2em;
  font-weight: 700;
  color: #FFFFFF;
}

.price_size:after {
  content: ' \20BD';
}

.button_bottom {
  width: 13em;
  height: 3em;
  border: none;
  border-radius: 2em;
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 1.5em;
}

.light_tarif {
  background: #FFFFFF;
}

.light_button {
  background: #EF2A82;
}

.light_price-title {
  color: #172755;
}

.footer_info {
  max-width: 100%;
  min-width: 72em;
  height: 6em;
  border-top: 1px solid #8794BA;
  margin-top: 6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_title {
  font-size: 2.5em;
}