* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 1125px;
  background-image: url('../../../../../public/assets/background-bottom.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.footer_top {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarifs {
  width: 1600px;
  display: flex;
  justify-content: space-around;
}

.tarif {
  width: 324px;
  height: 440px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dark_tarif {
  background: #0F1F4B;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  /* opacity: 0.7; */
}

.price_titles {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.price_size:after {
  content: ' \20BD';
}

.button_bottom {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 68px;
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
  color: #FFFFFF;
  cursor: pointer;
}

.light_tarif {
  background: #FFFFFF;
}

.light_button {
  background: #EF2A82;
}

.light_price-title {
  color: #172755;
}

.footer_info {
  width: 1200px;
  height: 150px;
  border-top: 1px solid #8794BA;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_title {
  font-size: 40px;
}