@mixin center {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contacts {
  @include center;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.main_contacts {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.contacts-description {
  margin-bottom: 20px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.buh {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 60px;

  @media (max-width: 768px) {
    text-align: center;
    flex-direction: column;
    gap: 20px;
    .buh-description1,
    .buh-description2 {
      margin: 0;
    }
  }
}

@mixin image {
  max-width: 319px;
  border: 3px solid #ef2a82;
  border-radius: 20px;
}

.buh-img1,
.buh-description1,
.buh-img2,
.buh-description2 {
  opacity: 0;
}

.buh-img1 {
  @include image;
  animation: slideInRight 1s ease-out forwards;
}

@mixin buhdescription {
  max-width: 600px;
  min-width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.buh-description1 {
  @include buhdescription;
  animation: slideInRight 1s ease-out 0.5s forwards;
}

.buh-img2 {
  @include image;
  animation: slideInLeft 1s ease-out forwards;
}

.buh-description2 {
  @include buhdescription;
  animation: slideInLeft 1s ease-out 0.5s forwards;
}
