* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.section {
  max-width: 100em;
  margin: 0 auto;
  padding: 2em;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  color: #8794BA;
}

.section_title {
  font-weight: 700;
  font-size: 2.5em;
  color: #172755;
}

.advantages_text {
  width: 80%;
  height: 7em;
}

.section_text {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 150%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
}

.advantages_listing {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.advantages_list {
  max-width: 26em;
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.advantages_title {
  font-weight: 700;
  font-size: 1.4em;
  color: #172755;
  text-align: center;
}

.listing-text {
  font-size: 1.2em;
  line-height: 140%;
  text-align: center;
}

.section_other {
  min-width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7em;
}

.text-part {
  max-width: 50em;
}

.text_part-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_title-reverse {
  text-align: center;
}

.section_text-other {
  text-align: start;
}

.section-reverse {
  flex-direction: row-reverse;
}

.list {
  padding-top: 2em;
  padding-left: 2em;
}

.list li {
  margin: 0;
  margin-left: 2em;
}

.main_part-img {
  max-width: 30em;
  border-radius: 2em;
}

.calendar {
  max-width: 27em;
}

@media (min-width: 992px) and (max-width: 1299px) {
  .section_other {
    max-width: 60em;
    align-items: flex-start;
    padding-top: 2em;
  }

  .section {
    justify-content: space-around;
  }

  .advantages_listing {
    min-height: 24em;
  }

  .advantages_list {
    min-height: 18em;
  }

  .section_title {
    font-size: 1.8em;
    width: 11em;
  }

  .main_part-img {
    width: 23em;
    ;
  }

}