.footer_other {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('../../../../public/assets/background-top.png');
  margin-top: auto;
  border-top: 3px solid #ef2a82;
  flex-shrink: 0;
}

.footer_other .section_text {
  color: white;
}
