.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  text-decoration: none;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 100px;
  top: 36px;
}

.bm-burger-bars {
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
}

.bm-burger-bars-hover {
  background: #EF2A82;
}

.bm-cross-button {
  height: 60px !important;
  width: 60px !important;
}

.bm-cross {
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);
  height: 25px !important;
  width: 5px !important;
}

.bm-menu {
  background: #010133;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
  right: 0;
  left: 0;
}

.bm-item-list {
  color: #b8b7ad;
  width: 100%;
  padding: 0.8em;
  line-height: 1.5em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
}

.bm-menu-wrap {
  bottom: 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .bm-burger-button {
    right: 30px;
  }
}