.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 100px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: linear-gradient(180deg, #EF2A82 0%, #7B61FF 100%);

}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #EF2A82;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 60px !important;
  width: 60px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  height: 25px !important;
  width: 5px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  right: 0 !important;
  bottom: 0;
  z-index: 1100;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.4s ease 0s;
}

/* General sidebar styles */
.bm-menu {
  background: #010133;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
  right: 0;
  left: 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #fcfbf7;
  width: 100%;
  padding: 0.8em;
  line-height: 1.5em;

}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #fcfbf7;
  text-decoration: none;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
}