* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product_block {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
  gap: 20px;
}

.product {
  min-width: 200px;
  max-width: 600px;
  border: 2px solid #1f2f5c;
  border-radius: 5px;
  margin: 0 10px;
}

.product_img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
