.header-other {
  width: 100%;
  min-height: 8em;
  display: flex;
  align-items: center;
  background-image: url('../../../../public/assets/background-top.png');
  border-bottom: 3px solid #ef2a82;
}
