* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

.block {
  @include row;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  // padding-left: 20px;
  // padding-right: 20px;
}

.rate {
  @include column;
  align-items: center;
  justify-content: space-between;
  min-width: 310px;
  min-height: 350px;
  margin: 20px;
}

.rate_info {
  @include row;
  justify-content: space-around;
  min-width: 310px;
  margin-bottom: 20px;
}

.rate_card {
  min-width: 100px;
  text-align: center;
  padding-left: 10px;
}

.rates_icons {
  width: 100px;
  height: auto;
  fill: #1f2f5c !important;
}

.rate_description {
  font-size: 16px;
  text-align: center;
  max-width: 350px;
}

@media (max-width: 1200px) {
  .block {
    width: 100%;
  }

  .rate_card {
    padding-left: 0;
  }

  .rate_card .advantages_title {
    text-align: center;
  }
}
